<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Creatival</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Bootstrap icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="css/styles.css" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">
	<main class="flex-shrink-0">
		<!-- Navigation-->
		<nav class="navbar navbar-expand-lg navbar-light  bg-light ">
			<div class="container px-5">
				<a class="navbar-brand" href="index.html"><img src="images/creatival_logoV5-Photoroom.png" alt=""
						style="width: 200px;"></a>
				<div class="container mt-4">
					<div class="input-group search-bar">
						<input type="text" class="form-control search-input" placeholder="search">
						<button class="btn search-btn" type="button">
							<i class="bi bi-search"></i>
						</button>
					</div>
				</div>
				<div class="d-flex align-items-center gap-3">
					<button class="btn position-relative">
						<i class="bi bi-bell fs-5"></i>
					</button>
					<button class="btn d-flex align-items-center gap-2 dropdown-toggle" data-bs-toggle="dropdown">
						<img src="https://dummyimage.com/32x32/ced4da/6c757d" class="rounded-circle" width="32"
							height="32">
					</button>
				</div>
			</div>
		</nav>
	</main>
	<!--list -->
	<div class="container pb-5">
		<div class="mt-5 container">
			<div class="row row-cols-6 g-3">
				<div class="col">
					<div class="card h-100 shadow-sm rounded">
						<a href=""><a href=""><img src="images/pic.png" class="card-img-top" alt="..."
									style="height: 300px;"></a></a>
						<div class="card-body">
							<h6 class="card-title">제목</h6>
							<div class="d-flex align-items-center fs-7">
								<a class="card-text mb-0 ">작가이름</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="card h-100 shadow-sm rounded">
						<a href=""><a href=""><img src="images/pic.png" class="card-img-top" alt="..."
									style="height: 300px;"></a></a>
						<div class="card-body">
							<h6 class="card-title">제목</h6>
							<div class="d-flex align-items-center fs-7">
								<a class="card-text mb-0 ">작가이름</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100 shadow-sm rounded">
						<a href=""><a href=""><img src="images/pic.png" class="card-img-top" alt="..."
									style="height: 300px;"></a></a>
						<div class="card-body">
							<h6 class="card-title">제목</h6>
							<div class="d-flex align-items-center fs-7">
								<a class="card-text mb-0 ">작가이름</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100 shadow-sm rounded">
						<a href=""><a href=""><img src="images/pic.png" class="card-img-top" alt="..."
									style="height: 300px;"></a></a>
						<div class="card-body">
							<h6 class="card-title">제목</h6>
							<div class="d-flex align-items-center fs-7">
								<a class="card-text mb-0 ">작가이름</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100 shadow-sm rounded">
						<a href=""><a href=""><img src="images/pic.png" class="card-img-top" alt="..."
									style="height: 300px;"></a></a>
						<div class="card-body">
							<h6 class="card-title">제목</h6>
							<div class="d-flex align-items-center fs-7">
								<a class="card-text mb-0 ">작가이름</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100 shadow-sm rounded">
						<a href=""><a href=""><img src="images/pic.png" class="card-img-top" alt="..."
									style="height: 300px;"></a></a>
						<div class="card-body">
							<h6 class="card-title">제목</h6>
							<div class="d-flex align-items-center fs-7">
								<a class="card-text mb-0 ">작가이름</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="mt-5 container">
			<div class="row row-cols-6 g-3">
				<div class="col">
					<div class="card h-100 shadow-sm rounded">
						<a href=""><a href=""><img src="images/pic.png" class="card-img-top" alt="..."
									style="height: 300px;"></a></a>
						<div class="card-body">
							<h6 class="card-title">제목</h6>
							<div class="d-flex align-items-center fs-7">
								<a class="card-text mb-0 ">작가이름</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="card h-100 shadow-sm rounded">
						<a href=""><a href=""><img src="images/pic.png" class="card-img-top" alt="..."
									style="height: 300px;"></a></a>
						<div class="card-body">
							<h6 class="card-title">제목</h6>
							<div class="d-flex align-items-center fs-7">
								<a class="card-text mb-0 ">작가이름</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100 shadow-sm rounded">
						<a href=""><img src="images/pic.png" class="card-img-top" alt="..." style="height: 300px;"></a>
						<div class="card-body">
							<h6 class="card-title">제목</h6>
							<div class="d-flex align-items-center fs-7">
								<a class="card-text mb-0 ">작가이름</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100 shadow-sm rounded">
						<a href=""><img src="images/pic.png" class="card-img-top" alt="..." style="height: 300px;"></a>
						<div class="card-body">
							<h6 class="card-title">제목</h6>
							<div class="d-flex align-items-center fs-7">
								<a class="card-text mb-0 ">작가이름</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100 shadow-sm rounded">
						<a href=""><img src="images/pic.png" class="card-img-top" alt="..." style="height: 300px;"></a>
						<div class="card-body">
							<h6 class="card-title">제목</h6>
							<div class="d-flex align-items-center fs-7">
								<a class="card-text mb-0 ">작가이름</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100 shadow-sm rounded">
						<a href=""><a href=""><img src="images/pic.png" class="card-img-top" alt="..."
									style="height: 300px;"></a></a>
						<div class="card-body">
							<h6 class="card-title">제목</h6>
							<div class="d-flex align-items-center fs-7">
								<a class="card-text mb-0 ">작가이름</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="mt-5 container">
			<div class="row row-cols-6 g-3">
				<div class="col">
					<div class="card h-100 shadow-sm rounded">
						<a href=""><img src="images/pic.png" class="card-img-top" alt="..." style="height: 300px;"></a>
						<div class="card-body">
							<h6 class="card-title">제목</h6>
							<div class="d-flex align-items-center fs-7">
								<a class="card-text mb-0 ">작가이름</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="card h-100 shadow-sm rounded">
						<a href=""><a href=""><img src="images/pic.png" class="card-img-top" alt="..."
									style="height: 300px;"></a></a>
						<div class="card-body">
							<h6 class="card-title">제목</h6>
							<div class="d-flex align-items-center fs-7">
								<a class="card-text mb-0 ">작가이름</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100 shadow-sm rounded">
						<a href=""><a href=""><img src="images/pic.png" class="card-img-top" alt="..."
									style="height: 300px;"></a></a>
						<div class="card-body">
							<h6 class="card-title">제목</h6>
							<div class="d-flex align-items-center fs-7">
								<a class="card-text mb-0 ">작가이름</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100 shadow-sm rounded">
						<a href=""><a href=""><img src="images/pic.png" class="card-img-top" alt="..."
									style="height: 300px;"></a></a>
						<div class="card-body">
							<h6 class="card-title">제목</h6>
							<div class="d-flex align-items-center fs-7">
								<a class="card-text mb-0 ">작가이름</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100 shadow-sm rounded">
						<a href=""><a href=""><img src="images/pic.png" class="card-img-top" alt="..."
									style="height: 300px;"></a></a>
						<div class="card-body">
							<h6 class="card-title">제목</h6>
							<div class="d-flex align-items-center fs-7">
								<a class="card-text mb-0 ">작가이름</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100 shadow-sm rounded">
						<a href=""><a href=""><img src="images/pic.png" class="card-img-top" alt="..."
									style="height: 300px;"></a></a>
						<div class="card-body">
							<h6 class="card-title">제목</h6>
							<div class="d-flex align-items-center fs-7">
								<a class="card-text mb-0 ">작가이름</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
			<li class="page-item disabled">
				<a class="page-link">이전</a>
			</li>
			<li class="page-item active">
				<a class="page-link" href="#">1</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">2</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">3</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">4</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">5</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">다음</a>
			</li>
		</ul>
	</nav>


	<!-- FOOTER -->
	<footer class="footer">
		<div class="container py-5">

			<!-- 상단 footer 영역 -->
			<div class="row text-white mb-4">
				<div class="col-md">
					<h4 style="font-weight: 700;">footer 내용</h4>
					<ul class="list-unstyled">
						<li>footer 내용</li>
						<li>footer 내용</li>
						<li>footer 내용</li>
						<li>footer 내용</li>
						<li>footer 내용</li>
					</ul>
				</div>

				<div class="col-md">
					<h4 style="font-weight: 700;">footer 내용</h4>
					<ul class="list-unstyled">
						<li>footer 내용</li>
						<li>footer 내용</li>
						<li>footer 내용</li>
						<li>footer 내용</li>
						<li>footer 내용</li>
					</ul>
				</div>

				<div class="col-md">
					<h4 style="font-weight: 700;">footer 내용</h4>
					<ul class="list-unstyled">
						<li>footer 내용</li>
						<li>footer 내용</li>
						<li>footer 내용</li>
						<li>footer 내용</li>
						<li>footer 내용</li>
					</ul>
				</div>

				<div class="col-md">
					<h4 style="font-weight: 700;">footer 내용</h4>
					<ul class="list-unstyled">
						<li>footer 내용</li>
						<li>footer 내용</li>
						<li>footer 내용</li>
						<li>footer 내용</li>
						<li>footer 내용</li>
					</ul>
				</div>

				<div class="col-md">
					<h4 style="font-weight: 700;">footer 내용</h4>
					<ul class="list-unstyled">
						<li>footer 내용</li>
						<li>footer 내용</li>
						<li>footer 내용</li>
						<li>footer 내용</li>
						<li>footer 내용</li>
					</ul>
				</div>


			</div>

			<!-- 구분선 -->
			<hr class="footer-line">

			<!-- 하단 footer -->
			<div class="row align-items-center text-white footer-bottom">
				<div class="col-md-4 d-flex justify-content-center">
					<div class="me-5">이용 약관</div>
					<div class="ms-5">개인 정보 보호 정책</div>
				</div>


				<div class="col-md-4 text-center">
					© 2026 creatival All rights reserved.
				</div>

				<div class="col-md-4 d-flex justify-content-end">
					<img src="images/creatival-Photoroom.png" alt="" width="168">
				</div>
			</div>


		</div>
	</footer>

</body>

</html>