<html layout:decorate="~{layout}">
	
<head>
			<link rel="icon" type="image/png" th:href="@{/images/favicon.ico}">
			<link rel="shortcut icon" type="image/png" th:href="@{/favicon.ico}">
	</head>
<div class="container" layout:fragment="content">
<body>
	<div class="container mt-5" style="max-width: 500px;">
	    <h2 class="mb-4 text-center">정보 수정</h2>

	    <form method="post" th:action="@{/user/edit}" enctype="multipart/form-data" th:object="${profile}">
			<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}" th:fragment="formErrorsFragment">
					<div th:each="err : ${#fields.allErrors()}">[[${err}]]</div>
			</div>

	        <!-- 이메일 -->
	        <div class="mb-3">
	            <label class="form-label">이메일</label>
	            <input type="email" class="form-control" th:field="*{email}" required>
	        </div>

	        <!-- 비밀번호 -->
	        <div class="mb-3">
	            <label class="form-label">비밀번호</label>
	            <input type="password" class="form-control" name="password" required>
	        </div>

	        <!-- 비밀번호 확인 -->
	        <div class="mb-3">
	            <label class="form-label">비밀번호 확인</label>
	            <input type="password" name="password2" class="form-control" required>
	        </div>

	        <!-- 닉네임 -->
	        <div class="mb-3">
	            <label class="form-label">닉네임</label>
	            <input type="text" th:field="*{displayName}" class="form-control" required>
	        </div>

	        <!-- 자기소개 -->
	        <div class="mb-3">
	            <label class="form-label">자기소개</label>
	            <textarea th:field="*{description}" class="form-control" rows="4" ></textarea>
	        </div>

	        <!-- 크리에이터 여부 -->
	        <div class="form-check mb-4">
	            <input class="form-check-input" type="checkbox" th:field="*{creator}" id="isCreator">
	            <label class="form-check-label" for="isCreator">
	                크리에이터로 활동할게요
	            </label>
	        </div>

	        <!-- 버튼 -->
	        <button type="submit" class="btn btn-primary w-100">
	            정보수정
	        </button>
	    </form>
	</div>
</body>
</html>